<div id="footer">	
										<ul class="footerList">
									   <li><a class="footerItemMenu" href="/index.php?page=1">GENERAL:</a></li>
									   <li><a class="footerItemMenu" href="/index.php?page=2">:ABOUT:</a></li>
									   <li><a class="footerItemMenu" href="?page=3">:CONTACT INFO:</a></li>
									   <li><a class="footerItemMenu" href="?page=6&currPage=0">:ARTICLES:</a></li>
									   <li><a class="footerItemMenu" href="?page=8">:Payment</a></li>
									  </ul>	
    <div id="footerLable">
        <font class="footer">nizer@itc</font>
    </div>
</div>
